<h2 mat-dialog-title>{{nomUtilisateur}}</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="nomUtilisateur"
               formControlName="nomUtilisateur">        
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput
               placeholder="nomCompte"
               formControlName="nomCompte">
        
    </mat-form-field>
    <br/>
    <mat-form-field>
              <input matInput type="number"
              placeholder="montant"
             formControlName="montant">
        
    </mat-form-field>
      ....
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>